<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> {{ realEstate.name }} </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <tr *ngFor="let user of users">
        <label *ngIf="user.role.name === 'ROLE_OWNER'"> <b> OWNER: </b>{{ user.firstName }} {{ user.lastName }} </label>
        <label *ngIf="user.role.name === 'ROLE_TENANT'"> <b> TENANT: </b>{{ user.firstName }} {{ user.lastName }} </label>
    </tr>
    <br>
    <button type="button" class="btn btn-success" (click)="navigateToRealEstate()">
      Full page
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()" id="closeModalButton">
      Close
    </button>
  </div>