<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> Real estate access </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">

    <tr *ngFor="let realEstate of realEstates">
        <div class="box">
            <input id="{{ realEstate.id }}" type="checkbox" checked [checked]="realEstate.access" 
            (change)="onChange($event.target)">
            <label for="{{ realEstate.id }}"> {{ realEstate.name }} </label>
        </div>
    </tr>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
  </div>