<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">New Real Estate</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    <form #newUserForm="ngForm" class="card-form">
      <div class="input">
        <input type="text" class="input-field" id="name" name="name" placeholder="Name" required
          [(ngModel)]="newRealEstate.name" />
      </div>
      <div><br>
        <label for="owners"> Owner: </label>
        <select class="select" id="owners" (change)="selectChangeHandler($event)">
            <option *ngFor="let user of users" [value]="user.id"> {{user.firstName}} {{user.lastName}} </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="submit" class="btn btn-primary" name="saveChangesModal" (click)="saveRealEstate()"
      [disabled]="!newUserForm.form.valid">
      Create
    </button>
  </div>