<div class="container">
	<!-- code here -->
	<div class="card">
		<div class="card-image">	
			<h2 class="card-heading">
				{{ realEstate.name }}
				<small>Home security system</small>
			</h2>
		</div>
		<form class="card-form">
            <tr *ngFor="let user of users">
                <label *ngIf="user.role.name === 'ROLE_OWNER'"> <b> OWNER: </b>{{ user.firstName }} {{ user.lastName }} </label>
                <button *ngIf="user.role.name === 'ROLE_OWNER'" type="button" class="role" (click)="removeUserFromRealEstate(user.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                </button>
            </tr>
            <br>
            <tr *ngFor="let user of users">
                <label *ngIf="user.role.name === 'ROLE_TENANT'"> <b> TENANT: </b>{{ user.firstName }} {{ user.lastName }} </label>
                <button *ngIf="user.role.name === 'ROLE_TENANT'" type="button" class="role" (click)="removeUserFromRealEstate(user.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                </button>
            </tr>
            <br>
            <button type="button" class="btn btn-success" (click)="openEditOwnerModal()">
                Add owner
            </button>
            <button type="button" class="btn btn-secondary" style="margin-left: 20px;" (click)="openEditTenantModal()">
                Add tenant
            </button>
		</form>
	</div>
</div>
